body {
  margin: 0;
  background-color: #F2EFF3;
  font-family: 'Poppins';
}

.navbar {
  background-color: #65d11d;
  padding: 1em;
  margin-bottom: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}

.navbar .logo span {
  color: black;
}

.navbar nav {
  display: none;
}

.navbar .container{
  display: flex;
  place-content: space-between;
}
.navbar .mobile-cta{
  cursor: pointer;
}
.questionsArea{
  color: #65A73A;
  padding-left: 1em;
  font-weight:bold;
  font-size: .9em;
}

p{
  margin: .5em 0 .5em 0;
}

p input{
  border:solid 2px;
  border-color: #C5C4C4;
  border-radius: .3em;
  width: 90%;
  height: 1.5em;
  color: #65A73A;
  font-size:1em;
  font-weight:bold; 
}
button{
  border:solid 2px #65A73A;
  color: #65A73A;
  font-size: 1em;
  font-weight:bold;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  margin: .5em 0 0 1em;
}
