body {
  margin: 0;
  background-color: #F2EFF3;
  font-family: 'Poppins';
  padding: 0;
}

.navbar {
  background-color: #65d11d;
  padding: .5em;
  margin-bottom: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.2em; 
}

.navbar .logo span {
  color: black;
}

.navbar nav {
  display: none;
}

.navbar .container{
  display: flex;
  place-content: space-between;
}
.navbar .mobile-cta{
  cursor: pointer;
}
.questionsArea{
  color: #65A73A;
  font-weight:bold;
  font-size: .9em;
}

p{
  margin: .5em 0 .5em 0;
}

p input{
  border:solid 2px;
  border-color: #C5C4C4;
  border-radius: .3em;
  width: 60%;
  height: 1.5em;
  color: #497a29;
  font-size:1em;
  font-weight:bold; 
}
button{
  border:solid 2px #65A73A;
  color: #65A73A;
  font-size: 1em;
  font-weight:bold;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  margin: 2em 0 0 1em;
  cursor: pointer;
}

@media only screen and (min-width: 500px){

  .questionsArea{
    display: block;
    width: 550px;   
  }

  .navbar nav{
    display: flex;
    height:0;
    width:500px;
    text-align: justify ;
    float: left;
  }

  .navbar .container .mobile-cta{
    display: none;
  }

  .navbar .container nav li{
    cursor: pointer;
  }
  li {
    list-style-type: none;
  }
  ul{
   display: flex;
   margin: 0;
   margin-top:3px;
  }
  .navbar .container{
    height: 100%;
  }
  
  ul a{
    color: white;
    font-size: 1em;
    padding: .1em 1em;
    text-decoration:none;
    
  }
  .sendButton:hover{
    background-color: #65A73A;
    color: white;
  }
  ul a:hover{
    background-color: #65A73A;
  }
}
